* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}


.fondo-app{
    background: radial-gradient(
      ellipse 80% 60% at 50% 0%,
      rgba(226, 232, 240, 0.15),
      transparent 70%
    ),
    #000000;

}


 