/* .contenedor-pc {
  position: relative;
  display: inline-block;
  width: 500px;
}


.pc {
  position: relative;
  z-index: 10;

}

.globo-violeta {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(180, 90, 255, 0.55) 0%,
    rgba(140, 60, 230, 0.35) 40%,
    rgba(80, 20, 160, 0.15) 70%,
    rgba(40, 10, 80, 0) 100%
  );
  filter: blur(32px);
  z-index: 1; 
  
  top: 50px;
  left: 200px;
}
 */

.fondo-card {
  transition: background-color .3s ease-in-out, transform .3s ease-in-out;
}

.fondo-card:hover {
  background-color: #2b046191;
  cursor: pointer;
  transform: scale(1.02);
}